<!DOCTYPE html>
<html>
<head>
  <title>TodoManager</title>
  <%= load_netzke %>
  <style type="text/css" media="screen">
  h1 { text-align: center; margin: 10px;}
  .netzke-component { width: 800px; margin: auto; }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
